/* .beInspired{
    height: 800px;
    width: 587px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    position: relative;
    border-radius: 5px;
} */
/* .beInspired__card1{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/inspiration-one_1.jpg"); 
}
.beInspired__card2{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/inspiration-two_1.jpg"); 
}
.beInspired__card3{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/inspiration-three_1.jpg"); 
} */
/* .beInspired__title{
    color: white;
    font-size: 30px;
    position: absolute;
    bottom: 40px;
    padding: 0px 47px;
    line-height: 40px;
}
.beInspired__title h2{
    margin-bottom: 0;
    font-size: 22px;
    letter-spacing: 0;
    font-weight: 400;
    text-transform: none;
}
.largeCentreCard{
    height: 600px;
    width: 587px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 40px;
    padding: 0px 20px;
    box-sizing: border-box;
    border-radius: 5px;
} */

/* .card400x600{
    height: 600px;
    width: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 40px;
    padding: 0px 20px;
    box-sizing: border-box;
} */
#slider1 .card1{
    background-image: url("https://www.inov-8.com/media/equipment-category/desktop/racevests.jpg");
}

#slider1 .card2{
    background-image: url("https://www.inov-8.com/media/equipment-category/desktop/race-vests.jpg");
}
#slider1 .card3{
    background-image: url("https://www.inov-8.com/media/equipment-category/desktop/packs.jpg");
}
#slider1 .card4{
    background-image: url("https://www.inov-8.com/media/equipment-category/desktop/hydration.jpg");
}

#slider1 .card5{
    background-image: url("https://www.inov-8.com/media/equipment-category/desktop/boomerang.jpg");
}


/* .card600x800{
    height: 800px;
    width: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 40px;
    padding: 0px 20px;
    box-sizing: border-box;
    border-radius: 5px;
} */

#slider5 .card1{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/cat-run.jpg");
}
#slider5 .card2{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/cat-gym.jpg");
}
#slider5 .card3{
    background-image: url("https://www.inov-8.com/media/clothing-category/desktop/cat-hike.jpg");
}


/* .smallerCentreCard{
    height: 352px;
    width: 352px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
    border-radius: 5px;   
} */
/* .smallerCentreCard__card1{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/trail.jpg"); 
}
.smallerCentreCard__card2{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/ultra.jpg"); 
}
.smallerCentreCard__card3{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/park.jpg"); 
}
.smallerCentreCard__card4{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/ocr.jpg"); 
}
.smallerCentreCard__card5{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/orienteering.jpg"); 
}
.smallerCentreCard__card6{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/road.jpg"); 
}
.smallerCentreCard__card7{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/swimrun.jpg"); 
} */
/* .smallerCentreCard h2{
    font-size: 37px;
    margin-bottom: 0;
} */
/* .productCard{
    height: 334px;
    width: 320px;
    font-size: 16px;
    border-radius: 5px;
}
.productCard__image{
    height: 249px;
    width: 320px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
} */
#slider3 .card1{
    background-image: url("https://www.inov-8.com/media/equipment-category/desktop/gtk-one.jpg"); 
}
#slider3 .card2{
    background-image: url("https://www.inov-8.com/media/equipment-category/desktop/gtk-two.jpg"); 
}
#slider3 .card3{
    background-image: url("https://www.inov-8.com/media/equipment-category/desktop/gtk-three.jpg"); 
}
#slider3 .card4{
    background-image: url("https://www.inov-8.com/media/equipment-category/desktop/gtk-four.jpg"); 
}

#slider3 .card5{
    background-image: url("https://www.inov-8.com/media/equipment-category/desktop/gtk-five.jpg"); 
}



#slider2 .card1 .productCard__image{
    background-image: url("https://www.inov-8.com/media/equipment-category/desktop/product-one.jpg"); 
}
#slider2 .card2 .productCard__image{
    background-image: url("https://www.inov-8.com/media/equipment-category/desktop/product-two.jpg"); 
}
#slider2 .card3 .productCard__image{
    background-image: url("https://www.inov-8.com/media/equipment-category/desktop/product-three.jpg"); 
}
#slider2 .card4 .productCard__image{
    background-image: url("https://www.inov-8.com/media/equipment-category/desktop/product-four.jpg"); 
}
#slider2 .card5 .productCard__image{
    background-image: url("https://www.inov-8.com/media/equipment-category/desktop/product-five.jpg"); 
}
#slider2 .card6 .productCard__image{
    background-image: url("https://www.inov-8.com/media/equipment-category/desktop/product-six.jpg"); 
}
#slider2 .card7 .productCard__image{
    background-image: url("https://www.inov-8.com/media/equipment-category/desktop/product-seven.jpg"); 
}


/* .blogCard{
    width: 364px;
    height: 398px;
}
.blogCard__title{
    font-size: 22px;
    padding: 20px 0px;
}
.blogCard__title h2{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    text-transform: none;
    letter-spacing: 0;
}
.blogCard__image{
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 281px;
    width: 364px;
} */
#slider4 .card1 .blogCard__image{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/blog-one.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#slider4 .card2 .blogCard__image{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/blog-two.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#slider4 .card3 .blogCard__image{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/blog-three.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#slider4 .card4 .blogCard__image{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/blog-four.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#slider4 .card5 .blogCard__image{
    background-image: url("https://www.inov-8.com/media/ultra-running/desktop/blog-five.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


@media only screen and (max-width: 800px) and (min-width: 601px) {
  /*   .largeCentreCard{
        height: 300px;
        width: 300px;
    }
    .beInspired{
        height: 600px;
        width: 400px;
    } */
/*     .beInspired__card1{
        background-image: url("https://www.inov-8.com/media/ultra-running/tablet/inspiration-one.jpg"); 
    }
    .beInspired__card2{
        background-image: url("https://www.inov-8.com/media/ultra-running/tablet/inspiration-two.jpg"); 
    }
    .beInspired__card3{
        background-image: url("https://www.inov-8.com/media/ultra-running/tablet/inspiration-three.jpg"); 
    } */



    #slider1 .card1{
            background-image: url("https://www.inov-8.com/media/equipment-category/tablet/vests.jpg");
    }
    #slider1 .card2{
        background-image: url("https://www.inov-8.com/media/equipment-category/tablet/race-vests.jpg");
    }
    #slider1 .card3{
        background-image: url("https://www.inov-8.com/media/equipment-category/tablet/packs.jpg");
    }
    #slider1 .card4{
        background-image: url("https://www.inov-8.com/media/equipment-category/tablet/hydration.jpg");
    }
    #slider1 .card5{
        background-image: url("https://www.inov-8.com/media/equipment-category/tablet/boomerang.jpg");
    }
   

    #slider5 .card1{
        background-image: url("https://www.inov-8.com/media/clothing-category/tablet/cat-run.jpg");
    }
    #slider5 .card2{
        background-image: url("https://www.inov-8.com/media/clothing-category/tablet/cat-gym.jpg");
    }
    #slider5 .card3{
        background-image: url("https://www.inov-8.com/media/clothing-category/tablet/cat-hike.jpg");
    }

}


@media only screen and (max-width: 600px) and (min-width: 0px) {
   /*  .largeCentreCard{
        height: 280px;
        width: 220px;
        font-size: 20px;
        padding: 0px 20px;
        box-sizing: border-box;
    } */
/*     .smallerCentreCard__card1{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/trail.jpg"); 
    }
    .smallerCentreCard__card2{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/ultra.jpg"); 
    }
    .smallerCentreCard__card3{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/park.jpg"); 
    }
    .smallerCentreCard__card4{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/ocr.jpg"); 
    }
    .smallerCentreCard__card5{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/orienteering.jpg"); 
    }
    .smallerCentreCard__card6{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/road.jpg"); 
    }
    .smallerCentreCard__card7{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/swimrun.jpg"); 
    } */


    #slider1 .card1{
        background-image: url("https://www.inov-8.com/media/equipment-category/mobile/vests.jpg");
    }
    #slider1 .card2{
        background-image: url("https://www.inov-8.com/media/equipment-category/mobile/race-vests.jpg");
    }
    #slider1 .card3{
        background-image: url("https://www.inov-8.com/media/equipment-category/mobile/packs.jpg");
    }
    #slider1 .card4{
        background-image: url("https://www.inov-8.com/media/equipment-category/mobile/hydration.jpg");
    }
    #slider1 .card5{
        background-image: url("https://www.inov-8.com/media/equipment-category/mobile/boomerang.jpg");
    }




    #slider5 .card1{
        background-image: url("https://www.inov-8.com/media/clothing-category/mobile/cat-run.jpg");
    }
    #slider5 .card2{
        background-image: url("https://www.inov-8.com/media/clothing-category/mobile/cat-gym.jpg");
    }
    #slider5 .card3{
        background-image: url("https://www.inov-8.com/media/clothing-category/mobile/cat-hike.jpg");
    }





    #slider4 .card1 .blogCard__image{
        background-image: url("https://www.inov-8.com/media/clothing-category/mobile/blog-one.jpg");
    }
    #slider4 .card2 .blogCard__image{
        background-image: url("https://www.inov-8.com/media/clothing-category/mobile/blog-two.jpg");
    }
    #slider4 .card3 .blogCard__image{
        background-image: url("https://www.inov-8.com/media/clothing-category/mobile/blog-three.jpg");
    }
    #slider4 .card4 .blogCard__image{
        background-image: url("https://www.inov-8.com/media/clothing-category/mobile/blog-four.jpg");
    }
    #slider4 .card5 .blogCard__image{
        background-image: url("https://www.inov-8.com/media/clothing-category/mobile/blog-five.jpg");
    }
/*     .beInspired__card1{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/inspiration-one_1.jpg"); 
    }
    .beInspired__card2{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/inspiration-two_1.jpg"); 
    }
    .beInspired__card3{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/inspiration-three_1.jpg"); 
    } */
   /*  .beInspired{
        height: 500px;
        width: 300px;
    }
    .beInspired__title {
        font-size: 20px;
        padding: 0 15px;
        line-height: 22px;
    }
    .beInspired__title h2{
        margin-bottom: 10px;
        font-size: 18px;
    } */
 /*    .productCard .card1{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/gtk-headband.jpg"); 
    }
    .productCard .card2{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/gtk-pack.jpg"); 
    }
    .productCard .card3{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/gtk-shorts.jpg"); 
    }
    .productCard .card4{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/gtk-base.jpg"); 
    }
    .productCard .card5{
        background-image: url("https://www.inov-8.com/media/ultra-running/mobile/gtk-tug.jpg"); 
    } */
  /*   .blogCard{
        width: 315px;
        height: 202px;
    }
    .blogCard__title h2{
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 20px;
        text-transform: none;
        letter-spacing: 0;
    }
    .blogCard__image{
        height: 202px;
        width: 315px;
    } */
  /*   .smallerCentreCard{
        height: 200px;
        width: 200px;
    }
    .smallerCentreCard h2{
        font-size: 22px;
    } */
}