.kitList{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-bottom: 100px;
}
.kitList__content .slider{
    margin-bottom: 0px;
}

.kitList .productCardHeight .firstChildMargin {
    margin-left: 0px;
}

.kitList__image{
    background-image: url("https://www.inov-8.com/media/equipment-category/desktop/get-the-kit.jpg"); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    min-height: 800px;
}
.kitList__content{
    display: flex;
    /* justify-content: flex-end; */
    flex-direction: column;
}

.kitList__content .sliderTitle h3{
    margin-left: 0px;
}
.kitList__content .productCardHeight {
    height: 650px;
}
.kitList__content  .productCard {
    height: 500px;
    width: 500px;
    border-radius: 5px;
}
.kitList__content .productCard__image {
    height: 500px;
    width: 500px;
    background-size: contain;
    background-color: white;
}
/* .kitList__content .sliderControls{
    margin-right: 0px;
} */
.kitList__content .slider .innerSlider{
        display: flex;
        gap: 50px;
}
.kitList__content .productCard__title h4, 
.kitList__content .productCard__title p{
    font-size: 18px;
}
.kitList__content a{
    text-decoration: none;
}

@media only screen and (max-width: 800px) and (min-width: 601px) {
    .kitList__image{
        background-image: url("https://www.inov-8.com/media/equipment-category/tablet/get-the-kit.jpg"); 
        min-height: 700px;
    }
    .kitList{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }




    .kitList .productCardHeight .firstChildMargin {
        margin-left: 30px;
    }

    .kitList__content .productCardHeight {
        height: 375px;
    }
    .kitList__content  .productCard{
        height: 334px;
        width: 320px;
        border-radius: 5px;
    }
    .kitList__content .productCard__image{
        height: 249px;
        width: 320px; 
        background-size: cover;
    }
   /*  .kitList__content .sliderControls{
        margin-right: 0px;
    } */
    .kitList__content .slider .innerSlider{
            display: flex;
            gap: 30px;
    }
    .kitList__content .productCard__title h4, 
    .kitList__content .productCard__title p{
        font-size: 14px;
    }
    .kitList__content a{
        text-decoration: none;
    }
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
    .kitList{
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 70px;
    }
    .kitList__image{
        height: 374px;
        margin: 0px 20px;
       min-height: 374px;
    }
    .kitList__image{
        background-image: url("https://www.inov-8.com/media/equipment-category/mobile/get-the-kit.jpg"); 
    }

    .kitList .productCardHeight .firstChildMargin {
        margin-left: 30px;
    }

    .kitList__content .productCardHeight {
        height: 310px;
    }
    .kitList__content  .productCard{
        width: 220px;
        height: 266px;
    }
    .kitList__content .productCard__image{
        height: 170px;
        width: 320px; 
        background-size: cover;
        width: 100%;
    }
   /*  .kitList__content .sliderControls{
        margin-right: 0px;
    } */
    .kitList__content .slider .innerSlider{
            display: flex;
            gap: 30px;
    }
    .kitList__content .productCard__title h4, 
    .kitList__content .productCard__title p{
        font-size: 14px;
    }
    .kitList__content a{
        text-decoration: none;
    }
}











/* 

.kitList{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-bottom: 100px;
}
.kitList__content .slider{
    margin-bottom: 0px;
}

.kitList .productCardHeight .firstChildMargin {
    margin-left: 0px;
}

.kitList__image{
    background-image: url("https://www.inov-8.com/media/equipment-category/desktop/get-the-kit.jpg"); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    min-height: 800px;
}
.kitList__content{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
@media only screen and (max-width: 800px) and (min-width: 601px) {
    .kitList__image{
        background-image: url("https://www.inov-8.com/media/equipment-category/tablet/get-the-kit.jpg"); 
        min-height: 700px;
    }
    .kitList{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
    .kitList{
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 70px;
    }
    .kitList__image{
        height: 374px;
        margin: 0px 20px;
       min-height: 374px;
    }
    .kitList__image{
        background-image: url("https://www.inov-8.com/media/equipment-category/mobile/get-the-kit.jpg"); 
    }
} */