.card350x350 {
	height: 352px;
	width: 352px;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 40px;
	border-radius: 5px
}
.card350x350 h2 {
	font-size: 37px;
	margin-bottom: 0
}
.card350x350Height{
    height: 450px;
}

.card350x350Height .firstChildMargin {
    margin-left: 110px;
}

@media only screen and (max-width: 800px) and (min-width: 601px) {
    .card350x350Height .firstChildMargin {
        margin-left: 30px;
    }
    .card350x350Height {
        height: 360px;
    }
}

@media only screen and (max-width:600px) and (min-width:0px) {

    .card350x350 {
		height: 200px;
		width: 200px
	}
	.card350x350 h2 {
		font-size: 22px
	}
    .card350x350Height .firstChildMargin {
        margin-left: 0px;
    }
    .card350x350Height {
        height: 208px;
    }

}